@media screen and (max-width: 1198px) {
  #left-shirt-main {
    padding-left: 3rem;
    /*width: 48%;*/
  }

  .shirt-right-container {

    float: right;
  }

  .shirt-left-container {

  }

  #homepage-countdown {
    bottom: 12rem;
    left: 18.8rem;
  }

  .banner {
    height: 0;
  }

#testie {
  bottom: 0;
  bottom: 10.5rem;
}
.shirt-grid {
  padding: 0;
  /*height: 0;
  height: 12rem;*/
}

.shirt-grid img {
  height:19rem;
}

.shirt {
  height: auto;
}

.share-grid {
  padding: 0;
  padding: 0 .4rem 0 .4rem;
}

}



@media screen and (max-width: 1521px) {

  .shirt-right-container {
    float: right;
  }

  .shirt-left-container {
    text-align: inherit;
  }

.is-countdown {
  text-align: center;
  float: right;
  position: absolute;
  left: 41rem;
  margin-top: 3.6rem;
}

.shirt-size img  {
  height: 19rem;
}

.share-grid {
  padding: 0 6rem;
}

.bottom-container {
  padding: 0 7rem 2rem 7rem;
}

.featured-at-creek {
}
.--featured-- {
  left: 3rem;
  width: 80%;
}

}



@media screen and (min-width: 1721px) {


  .shirt-swap-lt {

  }

  .shirt-swap-lb {
  }


.right-image {
  height: 45rem;
}
.left-image {
  height: 45rem;
}

.is-countdown {
  left:12.5rem;
  width: 14rem;
}

#testie {
bottom: 17.4rem;
}

.featured-at-creek {
  left: 48.5rem;
}


#sharephotos {
left: 38.5rem;
}

#blogtitle {
left: 24.5rem;
}

#checkitouttitle {
left: 51.5rem;
}

.bottom-container {
  padding: 0px 18rem 2rem;
}

.bottom-info-container {
  padding: 0px 16.3rem 2rem;
}

.pic-1 {
}

.pic-2 {
}

.shirt-grid {
  padding: 0 17rem 0 17rem;
}

.footer {
  padding: 2rem 9rem 0rem 9rem;
}

.share-grid {
padding: 0px 18rem;
    margin: 2rem 0px 4.8rem;
}
}

@media screen and (max-width: 1400px) {

#submit-header {
  display: none;
}

}

@media screen and (max-width: 1262px) {
  #new-header {
    display: none;
  }
}
@media screen and (max-width: 1679px) {

.right-image {
  width: 49.8%
}
.left-image {
  width: 49.8%
}
.shirt-swap-rt {
  top:48rem;
}
.shirt-swap-rb {
  top: 52.4rem;
}
.mini-boxes {
  top:48rem;
  left:45.5rem;
  margin-right: 1rem;
}
.gem {

  bottom: 1rem;
}

.featured-at-creek {
  left: 41rem;
}

.sign-up-button {
  height: 2.95rem;

}

}

@media screen and (max-width: 1679px) {


.share-grid {
  padding: 0 3rem;
}

}

@media screen and (max-width: 1019px) {

  .is-countdown {
    display: none;
  }
  .mini-boxes {
    display: none;
  }
  .shirt-swap-rb {
    display: none;
  }
  .shirt-swap-rt {
    display: none;
  }

  .top-bar-container {
    display: none;
  }

  .banner {
    display: none;
  }
  .header-container {
    display: none;
  }

  .gem {
    display: none;
  }

  .right-image {
    width: 49.7%;
    height: 25rem;
  }
  .left-image {
    width: 49.7%;
    height: 25rem;
  }

  .shirt-left-container {
    text-align: center;
  }

  #testie {
    bottom: 7.8rem;
  }



.featured-box {
  min-height: 17rem;
}

  #horror {
    height: 17rem;
  }

  #pumpkin img {
    height: 17rem;
    padding: 4rem 2rem 4rem 2rem;
  }

  #black img {
        height: 12rem;
  }
.shirt-grid {
display:none;
}

.shirt img {
  height: 32rem;
}

#s1 {
  display: inline-block;
}

#s2 {
  display: inline-block;
}

.two-pic-container {
  margin-top: 2rem;
}

.share-grid {
  display: none;
}

.share-pic {
  margin-top: 2rem;
  display: inline-block;
}

#sharepic {
  height: 20rem;
}

#sharephotos {
    left: 14rem;
}
.featured-at-creek {
    left: 20rem;
}

.pic-2 {
  display: none;
}

.pic-1 {
  height: 22.3em;
}

.bottom-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 .5rem 0 .5rem;
}

.bottom-info-container {
  padding: 0
}

#blogtitle {
  left: 20rem;
}

.footer {
  grid-template-columns:  1fr;
}

.footer-left {
  text-align: center;
}

.footer-left-container {
  padding: 0;
}

.what-is-container {
    padding: 0px 1.3rem 0 1.3rem;
}

.mobile-count-header {
  background-color: #ff8500;
display: flex;
justify-content: center;
}

.mobile-countdown {
  font-size: 1.9rem;
  display: inline-block;
  background-color: #ff8500;
  color: white;
  text-align: center;
  /*border: 1px solid #ff8500;*/
}

#demo {
  font-size: 1.7rem;
}

#hours-left {
  padding-top: .2rem;
  font-size: .9rem;
  padding-bottom: .25rem;
}

.mobile-header {
  width: 100%;
  height: 3rem;
  background-color: #00b9bd;
  display: flex;
  justify-content: space-between;
}

.burger {
color: white;
display: inline-block;
padding: .75rem .75rem .75rem 1rem;
}

.mobile-logo {
  color: white;
  display: inline-block;
  padding: .5rem;
}

.mobile-cart {
  color: white;
  display: inline-block;
  padding: .75rem;
}

.burger i {
  font-size: 1.5rem;
}

.mobile-logo i {
  font-size: 2rem;
}

.mobile-cart i{
  font-size: 1.9rem;
}

.mobile-white-header {
  height: 3rem;
  background-color: white;
}

.mobile-banner {
}


}
@media screen and (min-width: 1018px) {
.mobile-only {
  display: none
  }
}



@media screen and (max-width: 999px) {
 .shirt-size img {
   height:28rem;
 }
 .share-pic img {
   height: 19rem;
 }
 #sharepic {
   height:17rem;
 }
}


@media screen and (max-width: 878px) {
.shirt-size img {
  height: 27rem;
}

.featured-at-creek {
  left: 15rem;
}

#sharephotos {
  left: 10rem;
}

#sharepic {
  height:17rem;
}

#blogtitle{
left: 15rem;
}

}

@media screen and (max-width: 848px) {
.shirt-size img {
  height: 25rem;
}

.featured-at-creek {
  left: 15rem;
}

#sharephotos {
  left: 10rem;
}

#sharepic {
  height:16rem;
}

#blogtitle{
left: 15rem;
}

}

@media screen and (max-width: 798px) {
.shirt-size img {
  height: 24rem;
}

.featured-at-creek {
  left: 14rem;
}

#sharepic {
  height:15.5rem;
}
}
@media screen and (max-width: 770px) {
.shirt-size img {
  height: 23rem;
}

#testie {
  bottom: 5.8rem;
}

.featured-box {
  min-height: 12rem;
}
#black {
  height: 12rem;
}

#horror {
  height: 12rem;
}

#pumpkin {
  height: 12rem;
}

#pumpkin img {
  height: 12rem;
}
#black img {
    height: 12rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}



.featured-at-creek {
  left: 13rem;
}

#sharepic {
  height:14rem;
}
}
@media screen and (max-width: 729px) {
.shirt-size img {
  height: 22rem;
}

.featured-at-creek {
  left: 13rem;
}

#sharepic {
  height:13rem;
}
}


@media screen and (max-width: 712px) {
  .left-image {
    width: 100%;
    height: 30rem;
    background-position: center;
  }

  .right-image {
    width: 100%;
    height: 30rem;

  }

  .shirt-left-container {
    margin-left: auto;
    width: 100%;
    padding-right: 3rem;
    font-size: 1.625rem;
  }

  #buyleft {
    margin-right: 0;
  }

  #desktop-buy-button {
    display: none;
  }

.mobile-white-header {
  height: 2rem;
  background-color:white;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: .5rem;
  margin: .5rem 0 .5rem 0;
}

#testie {
  bottom: 8rem;
}
.menu-pics {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
    padding: 0;
    height: 14rem;
}

.tees-box {
  padding-top: 67%;
}
.desktop-only {
  display: none;
}

.--featured-- {
  margin-top: 3.9rem;
}

.featured-at-creek {
  left: 11rem;
}

#sharephotos {
  left: 5rem;
}

#sharepic {
  height:14rem;

}

#blogtitle{
left: 11rem;
}

.featured-here {
  display: grid;
  grid-template-columns: 1fr;
}

#black {
  height: 21.8rem;
}

#horror {
  height: 21.8rem;
}

#pumpkin {
  height: 21.8rem;
}

#pumpkin img {
  height: 21.8rem;
}
#black img {
    height: 21.8rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
}

#s2 {
  display: none;
}

.shirt-size img {
    height: 44rem;
    padding: 1rem;
}

.share-pic {
  display: none;
}

}
