

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,500i,700,800,900');

body {
  font-family: 'Montserrat', sans-serif;
  /*overflow: hidden;*/
}

.top-bar-container {
    background-color: #00b9bd;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    height: 30px;
    padding: 2px 10px 20px 2px;
}

.right-container .top-bar {
  margin: 0 1.9625rem;
  margin-top: 0.3375rem;
  display: flex;
  justify-content: space-between;
  float: right;
  line-height: 1rem;
}


.left-container .top-bar {
  margin: 0 1.9625rem;
  margin-top: 0.3375rem;
  display: flex;
  justify-content: space-between;
  float: left;
  line-height: 1rem;
}

.carts-carts {
margin-left: 10rem;
}

.carts-email {
margin-right: 10rem;
}

#cart, #login  {
  margin-right: .5rem;
}

#email  {
  margin-left: .5rem;
}

/*top bar info ^^^^^^
header section---->*/

.header-container {
display: grid;
grid-template-columns: 1.9fr 4fr 2fr;
padding:.3rem .1rem .2rem .2rem;
/*padding: .5rem 1rem .5rem 1rem;*/
line-height: 1;
}

.logo-container {
  display:inline-block;
  padding-left: 1rem;
}
.options-container {
  align-items: center;
}
.options {
display: flex;
justify-content: space-between;
margin-top: 1.5rem;
font-size: 1.1rem;
font-family: "Cairo";
cursor: pointer;
align-content: center;

}
.search-bar-container {
  display: inline-block;
}

.search-bar {
  /*background-color: lightyellow;*/
  display: flex;
  justify-content: center;
  height: 25px;
  margin-top: 20px;
}

/* banner-mid section  ---->*/

.count-center {
  text-align: center;
}
.banner {
  height: 15.625rem;
  background: url(./img/Exclusive-Collection-Sale_HomepageBnnr_BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.left-image {
  height: 35.5rem;
  /*width: 49.80%;*/
  display: inline-block;
  background: url(./img/losers.jpg);
  background-size: cover;
    /*background-position: center;*/
  background-repeat: no-repeat;
}

.right-image {
  height: 35.5rem;
  /*width: 49.80%;*/
  display: inline-block;
  background: url(./img/gravity.jpg);
  background-size: cover;
  /*background-position: center;*/
  background-repeat: no-repeat;
  box-shadow: 20px
}


.gem {
  height: 2.8rem;
  width: 2.8rem;
  bottom:0;
  display: inline-block;
  float: right;
  cursor: pointer;
  position: relative;
  bottom: 2.9rem;
  right: 1.3rem;;

}
.shirt-swap-rb {
  background: url(http://www.teefury.com/media/catalog/product/cache/1/odad_flat_product/960x680/9df78eab33525d08d6e5fb8d27136e95/t/e/tee_pop-pop-corn_beware_1984_blk.png?color=odad-gray);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
  border: 1px solid rgba(241, 241, 241, 0.25);
  box-shadow: 0px 2px 3px 0px #4c5152;
}

.shirt-swap-rt {
  background: url(http://www.teefury.com/media/catalog/product/cache/1/odad_model_pair/960x680/9df78eab33525d08d6e5fb8d27136e95/o/d/odad_modelpair_pop-pop-corn.png?color=odad-gray);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  margin-top: 25.9rem;
  margin-bottom: .5rem;
  margin-left: 20px;
  cursor: pointer;
  border: 1px solid rgba(241, 241, 241, 0.25);
  box-shadow: 0px 2px 3px 0px #4c5152;
}
.shirt-swap-lt {
  background: url(./img/gravity.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  margin-top: 25.9rem;
  margin-bottom: .5rem;
  margin-left: 43.3rem;
  cursor: pointer;
  border: 1px solid rgba(241, 241, 241, 0.25);
  box-shadow: 0px 2px 3px 0px #4c5152;
}

.shirt-swap-lb {
  background: url(./img/gravity.jpg);
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  margin-left: 43.3rem;
  border: 1px solid rgba(241, 241, 241, 0.25);
  box-shadow: 0px 2px 3px 0px #4c5152;
}

.shirt-left-box1 {
  background-color: gray;
  width: 80px;
  height: 60px;
  margin-top: 29.9rem;
  margin-left: 20px;
}

.left-shirt-name {
  text-align: center;
  display: inline-block;
  letter-spacing: 2px;
  /*font-weight: bold;*/
  font-size: 1.625rem;
}

#left-shirt-main {
  padding-left: 14.5rem;

}

.buy-button {
  background-color: #00a651;;
  padding: 0.75em 1.25em;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border-radius: 0px;
  color: white;
  margin-bottom: 2.2rem;
}

#buyleft {
margin-right: 4.6rem;
}

#buyright {
  margin-right: 4.6rem;
}

.is-countdown {
    font-size: 1.9rem;
    display: inline-block;
    background-color: white;
    align-content: center;
    color: #ff8500;
    border: 1px solid #ff8500;
    margin-top: 1.5rem;
    position: relative;
    left:8.1rem;
    padding: .1rem;
}

#hours-left {
  color: black;
  font-size: 1.125rem;
  padding:.25rem;
}


.shirt-left-container{
width: 49.85%;
text-align: center;
display: inline-block;
}
.shirt-right-container {
  width: 49.85%;
  /*margin-left: 1rem;*/
  text-align: center;
  display: inline-block;
}

.featured-here {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: .5rem;
  padding: .5rem;
  text-align: center;
}

.share-grid {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  text-align: center;
  grid-column-gap: .5rem;
}



/* lower menu ---->*/

.--featured-- {
  height: 1px;
  margin-left: auto;
  position: relative;
  z-index: 2;
  margin-right:auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #00b9bd 25%, #00b9bd 75%, rgba(0, 0, 0, 0) 100%);
}

.featured-at-creek {
  font-size: 1.5rem;
  background-color: white;
  display: inline-block;
  position: relative;
  padding: 0 2rem;
  z-index: 3;
  left: 40rem;
  bottom: .8rem;
}

#fanfavs {
  margin-top: 2rem;
  /*left: 3.5rem;*/
}

#sharephotos {
  right: 4rem;
}

#blogtitle {
  /*left: 0;*/
  left: 21rem;
}

#checkitouttitle {
right: 10rem;
}

.menu-pics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  padding: 1rem 0 3rem 0;
  text-align: center;
  padding-bottom: 3rem;
}

.tees-box {
  min-height: 12.5rem;
  color: white;
  font-size: 1.5rem;
  padding-top: 80.4%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);

}

.shadow-background {
  background-position: center;
  background-size: cover;
  /*background-image: url(https://www.teefury.com/media/tfcms/category/14/HP_PCBlocks_Tanks.jpg);*/
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);*/
}

#testie {
  position: relative;
  bottom:14rem;
}

#Tees {
background-image: url(./img/HP_PCBlocks_Tees.jpg)
}
#Tanks {
background-image: url(./img/HP_PCBlocks_Tanks.jpg)
}
#Hoodies {
background-image: url(./img/hp_pcblocks_hoodies.jpg);
}
#Posters {
  background-image: url(./img/poster.jpg);
}
#Limited {
  background-image: url(./img/HP_PCBlocks_Resource.jpg);
}



/* end of lower menu-----
/* little things (images + ps etc..)*/
.header-logo img {
  width: 11rem;
  cursor: pointer;
  padding: .5rem;
}

.h3 {
  margin-top: 1.2rem;
  font-weight: bold;
  font-size: 1.625rem;
}

.h5 {
color: #00b9bd;
font-size: 1rem;
text-decoration: none;
line-height: inherit;
margin-top: .2rem;
}

.price {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: bold;
  color: #00a651;
  text-align: right;
  margin-right: 1rem;
}

.buy-it-container {
  margin-top: 1rem;
}
#tees:hover{
  text-decoration: underline;

}


/* images styles ---->*/

.featured-box {
  min-height: 15rem;
  margin-top: 1rem;
  margin-bottom: 0.875rem;
  background-color: #0D0D0C;
  height: 15rem;
  text-align: center;
}

#pumpkin img {
  height:15rem;
  width: 100%;
  opacity: 0.4;
  padding: 6rem 3rem 3rem 3rem;
  background-image: url(./img/HPB_Falloween_BG_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#black img {
  height:15rem;
  width: 100%;
  padding-top: 6rem;
  vertical-align: middle;
  background-image: url(./img/GB_BGround_3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#horror {
  height: 15rem;
  width: 100%;
  background-image: url(./img/HPB_Horror_BGV9.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.featured-box img {
  height: 22rem;
}
.overpic {
  height: 2rem;
}





/*.*/
